# Không đưa biến môi trường lên GitHub
.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example

# Không đưa thư viện lên GitHub
node_modules/
**/node_modules/

# File build
dist/
build/

# File log
*.log